.wrapper {
  position: absolute;
  border: 1px solid #F1F1F1;
  border-radius: 2px;
  background-color: inherit;
  box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  height: 15rem;
  padding: 1.5rem;
  padding-top: 1.8rem;
  z-index: 100;
}

.picker {
  display: flex;
  flex-wrap: wrap;
}

.color {
  cursor: pointer;
  width: 1rem;
  flex: 1 0 10%;
  margin: 0.1rem;
  border-radius: 2px;
}

.closeWrapper {
  position: absolute;
  top: 0.2rem;
  right: 0.1rem;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: #ccc;
}
.closeWrapper:hover {
  color: #9d1d20;
}

.close {
  display: block;
  margin: 0 0 0 auto;
}
